<%- include('../partials/header'); %>
<div class="info-div container">
    <p class="info-text">Born: <%= data.bio.born %></p>
    <p class="info-text">Ethnicity: <%= data.bio.ethnicity %> </p>
    <p class="info-text">Nationality: <%= data.bio.nationality %></p>
</div>
<%- include('../partials/footer'); %>